%html{:lang => "en"}
  %head
    %title
      Background
    %meta{:charset => "utf-8"}
    %script{:type => "text/javascript", :src  => "../lib/jquery.min.js"}
    %script{:type => "text/javascript", :src  => "../lib/jsdeferred.js"}
    %script{:type => "text/javascript", :src  => "../lib/jsdeferred.jquery.js"}
    %script{:type => "text/javascript", :src  => "../lib/jsdeferred.chrome-extension.js"}
    %script{:type => "text/javascript", :src  => "../lib/jquery.xpath.js"}
    %script{:type => "text/javascript", :src  => "../lib/md5.js"}
    %script{:type => "text/javascript", :src  => "../lib/HTTPCache.js"}
    %script{:type => "text/javascript", :src  => "../lib/SiteinfoManager.js"}
    %script{:type => "text/javascript", :src  => "background.js"}
  %body
